<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />

    <link rel="icon" type="image/png" href="assets/css/img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="robots" content="noindex" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="expires" content="-1" />
    <title>HomePage</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no"
        name="viewport" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/now-ui-dashboard.css?v=1.1.0" rel="stylesheet" />
    <link href="assets/css/main.css" rel="stylesheet" />
</head>

<body class="">
    <div class="wrapper">
        <!-- sidebar -->

        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute bg-primary fixed-top">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="#pablo">Student Login</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                        aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>
                    <%- include('navitem') %>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="panel-header panel-header-sm"></div>
            <div class="content" style="min-height: auto">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card" style="min-height: 400px">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h5 class="title">Pending Quiz Tests</h5>
                                    </div>

                                </div>
                            </div>
                            <div class="card-body">

                                <% data.forEach(function(item){ %>
                                    <div class="card" style="background: #ededed">
                                        <div class="card-body" onclick="submit('<%= item._id %>')">
                                            <h6>
                                                <%=item.name%>
                                            </h6>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <p>Subject - <%=item.subject%>
                                                    </p>
                                                </div>
                                                <div class="col-md-4">
                                                    <p style="text-align: right">Date - <%=item.data%>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <%})%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- footer -->

            <%- include('footer') %>
        </div>
    </div>
</body>
<script>
    function redirect_to_new_test() {
        location.href = "new_test";
    }




</script>

</html>